﻿@using PagedList.Mvc
@model PagedList.IPagedList<DashCamTube.Models.Footage>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var footage in Model)
{
    <div class="post clearfix">
        <div class="postBar">
            <span class="title"><a href="@Url.Action("SingleViewOfFootage","Footage", new { id = footage.Id })">@footage.Title</a></span>
            <span class="date">@footage.User.UserName, @footage.Time.ToShortDateString()</span>
        </div>
        <div class="video">
            <iframe width="650" height="360" src="@footage.YtLink" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        @if (footage.RegistrationNumber != null)
        {
            <div class="plate"><span>@footage.RegistrationNumber</span></div>
        }      
        <span class="description">@footage.Description</span>
        
        <button class="btn btn-default btn-sm pull-right" onclick="location.href='@Url.Action("SingleViewOfFootage", "Footage", new { id = footage.Id } )'">comments</button>
        @*@Html.Action("GetCommentForm","Comment", footage)*@
    </div>
}
<div class="text-center">
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
