﻿@using DashCamTube.ViewModels
@model DashCamTube.ViewModels.CommentViewModel


@using (@Html.BeginForm("AddComment", "Comment", FormMethod.Post))
{
    <div class="form-group">
        @Html.TextAreaFor(c => c.Content, new { @class = "form-control commentTextArea"})
        @Html.ValidationMessageFor(c => c.Content)
        @Html.HiddenFor(c => c.FootageId)
        @Html.HiddenFor(c => c.UserId)
    </div>

    <button type="submit" id="submit-comment" class="btn btn-sm">Add comment</button>
}








@*<form id="commentForm">
    <div class="form-group">
        @Html.TextAreaFor(c => c.Content, new { @class = "form-control commentTextArea" })
        @Html.ValidationMessageFor(c => c.Content)
        @Html.HiddenFor(c => c.FootageId)
        @Html.HiddenFor(c => c.UserId)
    </div>

    <button class="submit-comment" class="btn btn-sm">Add comment</button>
</form>*@


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    @*<script>
        
        $(document).ready(function () {
            $(".submit-comment").click(function (e) {
                var button = $(e.target);
                $.post("api/comment/add", { comment: form.attr("commentForm") })
                    .done(function () {
                        alert("Succes!");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });*@
                 
    </script>
}

