﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

/*input,
select,
textarea {
    max-width: 280px;
}*/

/*Bootstrap overrides*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.post > .title a {
    color: #365899;
}

/*a:hover, a:focus {
    color: grey;
}*/

.navbar-inverse {
    background-color: #4267b2;
    border-color: #29487d;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #2f4d84;
    /*background-color: transparent;*/
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #29487d;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: #3276b1;
    box-shadow: none;
}

label {
    font-weight: normal;
}


.dropdown-toggle:focus {
    background-color: #2f4d84;
}

.field-validation-error > span {
    color: red;
}

.input-validation-error {
    border: 1px solid #f88e8e;
}
/*Single View of footage */



.post 
{
    margin: 30px auto;
    width: 670px;
    background: #ededed;
    padding: 10px;
    border-radius: 10px;
}

.post > .postBar {
    padding: 8px 5px;
    
}



.post > .postBar > .title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.post > .postBar > .date {
    color: grey;
    font-size: 11px;
    float: right;
}

.post > .description {
    word-wrap: break-word;
    padding: 10px 10px 10px 10px;
    display: block;
}

.post > .plate {
    text-align: center;
    background-image: url(/content/images/plate.png);
    background-repeat: no-repeat;
    
    background-size: 240px 60px;
    min-height: 70px;
    position: relative;
}

.post > .plate > span {
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 29px;
    text-transform: uppercase;
}

hr {
    border-top: 1px solid #d5d5d5;
}

/*textarea {
    max-width: 650px;
}*/

.commentTextArea{
    resize: none;
    width: 640px;
    height: 130px !important;
}

.comment {
    margin: 10px 0 10px 0;
    padding: 5px;
    border-radius: 10px;
    background: #f8f8f8;
}

.comment > .commBar > .commentUser {
    color: grey;
    font-size: 11px;
}

.simple-form {
    width: 350px;
}