﻿@model DashCamTube.ViewModels.FootageFormViewModel
@{
    ViewBag.Title = "Add footage";
}

<h2>Add Dashcam Footage</h2>

@if (@Model.IsAlertInfo)
{
    <div class="alert alert-success" role="alert">
        @Model.AlertInfo
    </div>
}

@using (@Html.BeginForm("AddFootage", "Footage", FormMethod.Post, new { @class="simple-form"}))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RegistrationNumber)
        @Html.TextBoxFor(m => m.RegistrationNumber, new { @class = "form-control", placeholder = "eg. WE 36944" })
        @Html.ValidationMessageFor(m => m.RegistrationNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.YtLink)
        @Html.TextBoxFor(m => m.YtLink, new { @class = "form-control", placeholder = "eg. www.youtube.com/watch?v=b16vSZMJ13k" })
        @Html.ValidationMessageFor(m => m.YtLink)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Add</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}