﻿@using DashCamTube.Models
@using DashCamTube.ViewModels
@model DashCamTube.Models.Footage

@{
    ViewBag.Title = "SingleViewOfFootage";
}


<div class="post">
    <div class="postBar">
        <span class="title"><a href="@Url.Action("SingleViewOfFootage","Footage", new { id = Model.Id })">@Model.Title</a></span>
        <span class="date">@Model.User.UserName, @Model.Time.ToShortDateString()</span>
    </div>
    <div class="video">
        <iframe width="650" height="360" src="@Model.YtLink" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="plate"><span>@Model.RegistrationNumber</span></div>
    <span class="description">@Model.Description</span>


    <hr />
    
    @*comment form*@
    @Html.Partial("../Comment/_CommentForm", new CommentViewModel(Model.UserId,Model.Id))

    @*List of comments*@
    @foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <div class="commBar">
                <span class="commentUser">@comment.User.UserName, @comment.DateTime.ToShortDateString()</span>

            </div>

            <div class="commentContent">@comment.Content</div>
        </div>

    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}